$main-back-color: rgba(0, 0, 0, 0.04);
$content-box-shadow-color: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
$todo-interacting-color: #FAFAFA;
$content-height: 412px;
$content-width: 512px;

* {
  font-family: 'Roboto', sans-serif;
  line-height: 21px;
}

body {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.04);
}

@media (max-width: 562px) {
  .html {
    body {
      min-width: 388px;
    }
  }
  .content-wrapper {
    max-width: 100%;
  }
}

.todos-title {
  font-weight: 100;
  font-size: 100px;
  letter-spacing: -2.5px;
  color: #CCCCCC;
}

.content-wrapper {
  position: relative;
  height: $content-height;
  width: $content-width;
}

.main-content {
  position: relative;
  background: white;
  box-shadow: $content-box-shadow-color;
  z-index: 10;
}

.under-block-1 {
  position: absolute;
  height: 5px;
  left: 2px;
  right: 2px;
  background-color: white;
  box-shadow: $content-box-shadow-color;
  z-index: 5;
}

.under-block-2 {
  position: absolute;
  height: 10px;
  left: 4px;
  right: 4px;
  background-color: white;
  box-shadow: $content-box-shadow-color;
}

input {
  border: none;
  outline: none;
}

.new-todo {
  display: flex;
  align-items: center;
  height: 66px;
  border-bottom: 2px solid;
  border-color: $main-back-color;
}

.select-all-button {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-right: 4px;
  border: none;
  background-image: url("../svg/select-all.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;

  &:hover {
    cursor: pointer;
  }
}

.new-todo-text {
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: -0.6px;
  width: 100%;

  &:hover {
    font-style: normal;
  }
}

.todo-list-section {
  height: 336px;
}

.todo-list {
  padding: 0;
  list-style: none;
  height: 291px;
  overflow: auto;
}

ul {
  margin: 0;
}

.todo-elem {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: -0.6px;

  display: flex;
  align-items: center;
  height: 66px;
  border-bottom: 2px solid;
  border-color: $main-back-color;

  &:hover {
    background: $todo-interacting-color;
    cursor: pointer;
  }

  &:hover {
    .todo-input {
      background: $todo-interacting-color;
    }

    .remove-button {
      opacity: 1;
    }
  }
}

input[type=checkbox] {
  opacity: 0;

  &:focus-visible {
    + .new-checkbox {
      &::before {
        outline: 2px solid black;
      }
    }
  }

  &:checked {
    + .new-checkbox {
      &::before {
        content: url("../svg/completed.svg");
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: #5DC2AF;
        outline: none;
      }
    }
  }
}

.new-checkbox {
  &::before {
    display: inline-block;
    content: "";
    width: 30px;
    height: 30px;
    margin-left: -4px;
    margin-right: 9px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.04);
    background: white;
    flex-grow: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.todo-input {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: -0.6px;
  width: 100%;
  flex-grow: 1;
}

.checked-crossed-todo {
  text-decoration: line-through;
  text-decoration-color: #CCCCCC;
  color: #CCCCCC;
}

.remove-button {
  display: flex;
  align-items: center;
  opacity: 0;
  margin-right: 11px;
  border: none;
  height: 20px;
  width: 20px;
  background-image: url("../svg/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $todo-interacting-color;

  &:hover {
    cursor: pointer;
  }

  &:focus-visible {
    opacity: 1;
  }
}

.bot {
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
  left: 0;
  height: 43px;
  width: 100%;
  border-top: 2px solid;
  border-color: rgba(0, 0, 0, 0.04);
}

.bot-wrapper {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: -0.35px;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 12px;
}

.items-count {
  float: left;
  margin-left: 12px;
}

.display-mode-label {
  input[type=radio] {
    opacity: 0;
  }

  input[type=radio] {
    + label {
      display: inline-block;
      cursor: pointer;
      margin-left: -15px;
      padding: 0 9px;
      border: 1px solid white;
    }

    &:focus-visible {
      + label {
        outline: 2px solid black;
      }
    }

    &:checked {
      + label {
        border-color: #EBDFDF;
        border-radius: 2px;
      }
    }
  }

  label {
    &:hover {
      color: gray;
    }
  }
}

.clear-button {
  border: none;
  background: white;
  float: right;
  padding: 0;
  margin-right: 12px;

  &:hover {
    cursor: pointer;
    color: #666;
    border-radius: 2px;
  }
}

.hidden {
  display: none;
}